<!DOCTYPE html>
<html lang="en">
      <head>
            <title>Aplikasi Cek Cuaca</title>
            <link rel="icon" href="/img/icon.png">
            <link rel="stylesheet" href="/css/style.css">
            <script src="/js/app.js"></script>
      </head>
<body>
      <div class="main-content">
            {{>header}}
      </div>
      {{>footer}}
      <p>Dikembangkan oleh {{nama}}</p>
</body>
</html>