<!DOCTYPE html>
<html lang="en">
  {{> head title="404" favicon="/img/icon.jpeg"}}
<body>
      <div class="main-content">
            {{>header}}
            <p>{{pesanKesalahan}}</p>
      </div>
      {{>footer}}
</body>
</html>