<!DOCTYPE html>
<html lang="en">
  {{> head title="halaman tentang"}}
<body>
      <div class="main-content">
            {{>header}}
            <img src="/img/foto.jpeg">
      </div>
      {{>footer}}
</body>
</html>